<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Форма реєстрації</title>
</head>
<body>

<h1>Реєстрація</h1>

<!-- Виводимо помилки, якщо є -->
<ul style="color: red;" th:if="${validationErrors != null}">
    <li th:each="error : ${validationErrors}" th:text="${error}"></li>
</ul>

<!-- Форма реєстрації -->
<form method="post" th:action="@{'/signup'}">
    <label for="email">Електронна пошта:</label>
    <input id="email" name="email" required type="email">

    <label for="password">Пароль:</label>
    <input id="password" name="password" required type="password">

    <label for="roles">Роль користувача:</label>
    <select id="roles" name="role">
        <option value="USER">Користувач</option>
        <option value="ADMIN">Адміністратор</option>
    </select>

    <button type="submit">Зареєструватися</button>
</form>

</body>
</html>
